.overflow-y {
  overflow-y: auto;
}

h4 {
  margin: 0;
}

input[type="number"] {
  width: 73px;
}

md-slider {
  width: 240px;
}

md-toolbar [md-icon-button] {
  margin-right: 16px;
}

.canvas-list {
  padding: 8px 8px 0 8px;
}

.canvas-wrap {
  margin: 8px;
}

.canvas-list:after {
  content: "";
  display: flex;
  flex: 1;
  height: 8px;
}

.canvas-wrap {
  background-color: #fff;
  border-radius: 2px;
}

.md-toolbar-mini, .md-toolbar-mini >>> md-toolbar-row {
  height: 48px;
  min-height: 48px;
}
