<div fxFlexFill fxFlex fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="stretch">
  <md-input-container fxHide>
    <textarea mdInput></textarea>
  </md-input-container>
  <md-tab-group fxFlex fxLayout="column" dynamicHeight>
    <md-tab label="Uniforms" fxFlex>
      <div fxFlex fxLayoutWrap fxLayout="row" fxLayoutAlign="start start" class="overflow-y padding">
        <div *ngFor="let item of compiled.uniforms | keys" fxFlex="375px" class="padding">
          <h4>{{item.key}}</h4>
          <div *ngIf="!item.value.value.length">
            <md-slider thumbLabel
                       type="range"
                       (change)="change($event, item.value)"
                       [(ngModel)]="item.value.value"
                       #ctrl="ngModel"
                       [min]="item.value.proto[3][0]"
                       [max]="item.value.proto[3][1]"
                       step="0.01"></md-slider>
            <md-input-container>
              <input mdInput
                     type="number"
                     (change)="change($event, item.value)"
                     [(ngModel)]="item.value.value">
            </md-input-container>
            <md-checkbox type="checkbox"
                         [(ngModel)]="item.value.animate"></md-checkbox>
          </div>
          <div *ngIf="item.value.value.length">
            <div *ngFor="let sub of item.value.value; trackBy:indexFn; let i = index">
              <md-slider thumbLabel
                         type="range"
                         (change)="change($event, item.value)"
                         [(ngModel)]="item.value.value[i]"
                         #ctrl="ngModel"
                         [min]="item.value.proto[3][0]"
                         [max]="item.value.proto[3][1]"
                         step="0.01"></md-slider>
              <md-input-container>
                <input mdInput
                       type="number"
                       (change)="change($event, item.value)"
                       [(ngModel)]="item.value.value[i]">
              </md-input-container>
              <md-checkbox type="checkbox"
                           [(ngModel)]="item.value.animate[i]"></md-checkbox>
            </div>
          </div>
        </div>
      </div>
    </md-tab>
    <md-tab label="Data" fxFlex fxLayout="column">
      <md-radio-group class="md-radio-group" [(ngModel)]="view.data">
        <md-radio-button class="md-radio-button" value="graph">Graph</md-radio-button>
        <md-radio-button class="md-radio-button" value="tree">Tree</md-radio-button>
        <md-radio-button class="md-radio-button" value="syntax">Syntax</md-radio-button>
      </md-radio-group>
      <textarea *ngIf="view.data === 'graph'" fxFlex mdInput [(ngModel)]="graphJson"
                (change)="graphChanged()"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
      <textarea *ngIf="view.data === 'tree'" fxFlex mdInput [(ngModel)]="treeJson"
                (change)="treeChanged()"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
      <textarea *ngIf="view.data === 'syntax'" fxFlex mdInput [(ngModel)]="syntaxJson"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
    </md-tab>
    <md-tab label="Shader">
      <div fxLayout="row">
        <md-radio-group class="md-radio-group" [(ngModel)]="view.shader">
          <md-radio-button class="md-radio-button" value="all">All</md-radio-button>
          <md-radio-button class="md-radio-button" value="color">Color</md-radio-button>
          <md-radio-button class="md-radio-button" value="functions">Functions</md-radio-button>
          <md-radio-button class="md-radio-button" value="variables">Variables</md-radio-button>
        </md-radio-group>
        <md-radio-group class="md-radio-group" [(ngModel)]="view.type" (change)="updateDisplay()">
          <md-radio-button class="md-radio-button" value="three">Three.js</md-radio-button>
          <md-radio-button class="md-radio-button" value="glsl">glslsandbox.com</md-radio-button>
          <md-radio-button class="md-radio-button" value="toy">shadertoy.com</md-radio-button>
        </md-radio-group>
        <md-radio-group class="md-radio-group" [(ngModel)]="view.vars" (change)="updateDisplay()">
          <md-radio-button class="md-radio-button" value="2">Define</md-radio-button>
          <md-radio-button class="md-radio-button" value="1">Uniforms</md-radio-button>
          <md-radio-button class="md-radio-button" value="0">Inline</md-radio-button>
        </md-radio-group>
        <div class="padding-2">
          <md-checkbox [(ngModel)]="view.multi" (change)="updateDisplay()">Multi line
          </md-checkbox>
        </div>
      </div>
      <textarea *ngIf="view.shader === 'color'" fxFlex mdInput [(ngModel)]="display.color" autocomplete="off"
                autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
      <textarea *ngIf="view.shader === 'functions'" fxFlex mdInput [(ngModel)]="display.functions"
                class="pre" autocomplete="off" autocorrect="off" autocapitalize="off"
                spellcheck="false"></textarea>
      <textarea *ngIf="view.shader === 'variables'" fxFlex mdInput [(ngModel)]="display.variables"
                class="pre" autocomplete="off" autocorrect="off" autocapitalize="off"
                spellcheck="false"></textarea>
      <textarea *ngIf="view.shader === 'all'" fxFlex mdInput [(ngModel)]="display.all" class="pre"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
    </md-tab>
  </md-tab-group>
  <div fxLayout="column">
    <div class="mat-elevation-z2" id="canvas"></div>
    <div class="padding">
      <!--<button md-button (click)="randomize()">Randomize</button>-->
      <button md-button (click)="render.renderer.start()">Start</button>
      <button md-button (click)="render.renderer.stop()">Stop</button>
      <button md-button (click)="render.renderer.reset()">Reset</button>
      <button md-button>Fullscreen</button>
    </div>
  </div>
</div>
