<div fxFlexFill fxFlex fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap class="canvas-list">
  <a [routerLink]="['/edit/', toJson(item)]"
     *ngFor="let item of recipes; let i = index;"
     fxLayout="column"
     fxLayoutAlign="center center"
     [ngClass]="{titled: item.title, subtitled: config.show.time || config.show.code}"
     class="canvas-wrap mat-elevation-z2">
    <div fxFlexFill>
      <div class="card-title" *ngIf="item.title">{{item.title}}</div>
    </div>
    <div [render]="item"
         [renderSize]="config.thumbnailSize"
         [renderQuality]="config.thumbnailQuality"
         [renderTime]="times[i]"
         [renderPartials]="config.show.partials"
         [class.mat-elevation-z1]="code"
         fxLayout="column">
      <div *ngIf="config.show.time"
           fxFlexAlign="end"
           class="mono time">
        <span *ngIf="times[i].value < 0">&mdash;</span>
        <span *ngIf="times[i].value >= 0">{{times[i].value | number}}</span> ms
      </div>
    </div>
    <div *ngIf="config.show.code" fxFlexAlign="stretch">
      <div class="padding pre mono">{{item | cjson:1:(config.thumbnailSize[0]/8)}}</div>
    </div>
  </a>
  <div *ngFor="let spacer of spacers(config.thumbnailSize[0] + 16)" style="height: 0px;" [ngStyle]="{width: (config.thumbnailSize[0] + 16) + 'px'}"></div>
</div>
