/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

canvas {
  display: block;
  background-image: linear-gradient(45deg, #e0e0e0 25%, transparent 25%), linear-gradient(-45deg, #e0e0e0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #e0e0e0 75%), linear-gradient(-45deg, transparent 75%, #e0e0e0 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0;
}

textarea, input, .mono {
  font-family: "Roboto Mono", monospace !important;
}

.mono {
  font-size: 12px;
}

.pre {
  white-space: pre;
}

.padding {
  padding: 8px;
}

md-tab-body {
  flex-direction: column;
  display: flex !important;
}

.mat-tab-body-wrapper, .mat-tab-body-content {
  flex: 1;
  display: flex;
}

.mat-tab-body-content {
  align-content: stretch;
  flex-direction: column;
}

.mono {
  font-family: "Roboto Mono", monospace !important;
  font-size: 12px;
}

[md-button], [md-raised-button] {
  text-transform: uppercase
}

.mat-slider-thumb-container, .mat-slider-thumb {
  transition: none !important;
}

h1, h2 {
  font-weight: 300;
}

.md-radio-group {
  display: inline-flex;
  padding: 10px;
}

.md-radio-button {
  margin: 6px;
}

.padding {
  padding: 8px;
}

.padding-2 {
  padding: 16px;
}

.margin {
  margin: 8px;
}

.card-title {
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  z-index: 1000;
  position: relative;
}

/*canvas:fullscreen, canvas:-webkit-full-screen, canvas:-moz-full-screen {*/
/*background-color: rgba(255, 255, 255, 1);*/
/*width: 100% !important;*/
/*height: 100% !important;*/
/*}*/

[render] > canvas {
  transform: translateZ(0);
}
