<md-list *ngIf="menu === 'thumbnails'">
  <!--<h3 md-subheader>Application</h3>-->
  <!--<md-list-item>-->
    <!--<button md-button fullScreen>Fullscreen</button>-->
  <!--</md-list-item>-->
  <h3 md-subheader>Thumbnails</h3>
  <md-list-item>
    <md-slide-toggle [(ngModel)]="config.show.time">Show time</md-slide-toggle>
  </md-list-item>
  <md-list-item>
    <md-slide-toggle [(ngModel)]="config.show.code">Show code</md-slide-toggle>
  </md-list-item>
  <md-list-item>
    <md-slide-toggle [(ngModel)]="config.show.partials">Show partials</md-slide-toggle>
  </md-list-item>
  <md-list-item class="select">
    <md-select placeholder="Thumbnail size" [(ngModel)]="config.thumbnailSize">
      <md-option *ngFor="let item of config.thumbnailSizes" [value]="item">
        {{item[0]}} &times; {{item[1]}}
      </md-option>
    </md-select>
  </md-list-item>
  <md-list-item class="select">
    <md-select placeholder="Thumbnail quality" [(ngModel)]="config.thumbnailQuality">
      <md-option *ngFor="let item of config.thumbnailQualities" [value]="item">
        {{item}}
      </md-option>
    </md-select>
  </md-list-item>
</md-list>

<md-list *ngIf="menu === 'edit'">
  <h3 md-subheader>Edit</h3>
  <md-list-item class="select">
    <md-select placeholder="Edit size" [(ngModel)]="config.editSize">
      <md-option *ngFor="let item of config.editSizes" [value]="item">
        {{item[0]}} &times; {{item[1]}}
      </md-option>
    </md-select>
  </md-list-item>
  <md-list-item class="select">
    <md-select placeholder="Edit quality" [(ngModel)]="config.editQuality">
      <md-option *ngFor="let item of config.editQualities" [value]="item">
        {{item}}
      </md-option>
    </md-select>
  </md-list-item>
  <md-list-item class="select">
    <md-select placeholder="Partial size" [(ngModel)]="config.partialSize">
      <md-option *ngFor="let item of config.partialSizes" [value]="item">
        {{item[0]}} &times; {{item[1]}}
      </md-option>
    </md-select>
  </md-list-item>
</md-list>


<!--<div>-->
<!--<md-select placeholder="Thumbnail size" [(ngModel)]="service.previewSize">-->
<!--<md-option *ngFor="let item of service.previewSizes" [value]="item">-->
<!--{{item[0]}} &times; {{item[1]}}-->
<!--</md-option>-->
<!--</md-select>-->
<!--</div>-->
<!--<div>-->
<!--<md-select placeholder="Thumbnail quality" [(ngModel)]="service.previewQuality">-->
<!--<md-option *ngFor="let item of service.previewQualities" [value]="item">-->
<!--{{item}}-->
<!--</md-option>-->
<!--</md-select>-->
<!--</div>-->
<!--<div>-->
<!--<md-select placeholder="Render size" [(ngModel)]="service.previewSize">-->
<!--<md-option *ngFor="let item of service.previewSizes" [value]="item">-->
<!--{{item[0]}} &times; {{item[1]}}-->
<!--</md-option>-->
<!--</md-select>-->
<!--</div>-->
<!--<div>-->
<!--<md-select placeholder="Render quality" [(ngModel)]="service.previewQuality">-->
<!--<md-option *ngFor="let item of service.previewQualities" [value]="item">-->
<!--{{item}}-->
<!--</md-option>-->
<!--</md-select>-->
<!--</div>-->
