<div fxLayout="column" fxFlexFill fxFlex>
    <md-menu #appMenu="mdMenu">
        <a fxHide.gt-xs md-menu-item routerLink="/" routerLinkActive="active">Edit</a>
        <a fxHide.gt-xs md-menu-item routerLink="/random" routerLinkActive="active">Random</a>
        <a fxHide.gt-xs md-menu-item routerLink="/palettes" routerLinkActive="active">Palettes</a>
        <a fxHide.gt-xs md-menu-item routerLink="/features" routerLinkActive="active">Features</a>
        <a fxHide.gt-xs md-menu-item routerLink="/samples" routerLinkActive="active">Samples</a>
        <a md-menu-item routerLink="/prototypes" routerLinkActive="active">Prototypes</a>
        <a md-menu-item routerLink="/extractor" routerLinkActive="active">Extractor</a>
        <a md-menu-item routerLink="/test" routerLinkActive="active">Test</a>
        <a md-menu-item href="https://github.com/darosh/glt" target="_blank">About</a>
    </md-menu>
    <md-toolbar class="mat-elevation-z2">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
        <span>glt</span>
        <span fxFlex></span>
        <a md-icon-button fxHide fxShow.gt-xs md-button routerLink="/" routerLinkActive="active"
           mdTooltip="Edit">
            <md-icon>edit</md-icon>
        </a>
        <!--<a md-icon-button fxHide fxShow.gt-xs md-button routerLink="/random" routerLinkActive="active"-->
        <!--mdTooltip="Random">-->
        <!--<md-icon>casino</md-icon>-->
        <!--</a>-->
        <a md-icon-button fxHide fxShow.gt-xs md-button routerLink="/palettes" routerLinkActive="active"
           mdTooltip="Palettes">
            <md-icon>palette</md-icon>
        </a>
        <a md-icon-button fxHide fxShow.gt-xs md-button routerLink="/features" routerLinkActive="active"
           mdTooltip="Features">
            <md-icon>collections</md-icon>
        </a>
        <a md-icon-button fxHide fxShow.gt-xs md-button routerLink="/samples" routerLinkActive="active"
           mdTooltip="Samples">
            <md-icon>collections_bookmarked</md-icon>
        </a>
        <button md-icon-button [mdMenuTriggerFor]="appMenu">
            <md-icon>more_vert</md-icon>
        </button>
    </md-toolbar>
    <md-sidenav-container fxFlexFill fxFlex>
        <md-sidenav #sidenav mode="over" opened="false">
            <md-list>
                <h3 md-subheader>Application</h3>
                <md-list-item>
                    <md-slide-toggle toggleFullscreen>Fullscreen</md-slide-toggle>
                </md-list-item>
                <h3 md-subheader>Thumbnails</h3>
                <md-list-item>
                    <md-slide-toggle [(ngModel)]="service.show.code">Show code</md-slide-toggle>
                </md-list-item>
                <md-list-item>
                    <md-slide-toggle [(ngModel)]="service.show.time">Show time</md-slide-toggle>
                </md-list-item>
                <md-list-item class="select">
                    <md-select placeholder="Thumbnail size" [(ngModel)]="service.thumbnailSize">
                        <md-option *ngFor="let item of service.thumbnailSizes" [value]="item">
                            {{item[0]}} &times; {{item[1]}}
                        </md-option>
                    </md-select>
                </md-list-item>
                <md-list-item class="select">
                    <md-select placeholder="Thumbnail quality" [(ngModel)]="service.previewQuality">
                        <md-option *ngFor="let item of service.previewQualities" [value]="item">
                            {{item}}
                        </md-option>
                    </md-select>
                </md-list-item>
            </md-list>

            <!--<div>-->
            <!--<md-select placeholder="Thumbnail size" [(ngModel)]="service.previewSize">-->
            <!--<md-option *ngFor="let item of service.previewSizes" [value]="item">-->
            <!--{{item[0]}} &times; {{item[1]}}-->
            <!--</md-option>-->
            <!--</md-select>-->
            <!--</div>-->
            <!--<div>-->
            <!--<md-select placeholder="Thumbnail quality" [(ngModel)]="service.previewQuality">-->
            <!--<md-option *ngFor="let item of service.previewQualities" [value]="item">-->
            <!--{{item}}-->
            <!--</md-option>-->
            <!--</md-select>-->
            <!--</div>-->
            <!--<div>-->
            <!--<md-select placeholder="Render size" [(ngModel)]="service.previewSize">-->
            <!--<md-option *ngFor="let item of service.previewSizes" [value]="item">-->
            <!--{{item[0]}} &times; {{item[1]}}-->
            <!--</md-option>-->
            <!--</md-select>-->
            <!--</div>-->
            <!--<div>-->
            <!--<md-select placeholder="Render quality" [(ngModel)]="service.previewQuality">-->
            <!--<md-option *ngFor="let item of service.previewQualities" [value]="item">-->
            <!--{{item}}-->
            <!--</md-option>-->
            <!--</md-select>-->
            <!--</div>-->
        </md-sidenav>
        <router-outlet></router-outlet>
    </md-sidenav-container>
</div>
<!--<button md-fab color="primary" style="position: fixed; right: 16px; bottom: 16px;">-->
    <!--<md-icon>casino</md-icon>-->
<!--</button>-->
