<div fxFlexFill fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap class="canvas-list">
    <a [routerLink]="['/edit/', toJson(item)]"
       *ngFor="let item of recipes"
       fxLayout="column"
       fxLayoutAlign="center center"
       style="background-color: #fff"
       class="canvas-wrap mat-elevation-z2">
        <div fxFlexFill>
            <div class="card-title" *ngIf="item.title">{{item.title}}</div>
        </div>
        <div [render]="item" [renderSize]="service.thumbnailSize" [class.mat-elevation-z1]="code"></div>
        <div *ngIf="service.show.code" style="width: 100%">
            <div class="padding pre mono">{{item | cjson:1:(service.thumbnailSize[0]/6)}}</div>
        </div>
    </a>
    <div style="width:100%; height: 8px"></div>
</div>
