<div fxFlexFill fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap class="canvas-list">
    <a [routerLink]="['/edit/', toJson(item)]" *ngFor="let item of recipes"
       fxLayout="column"
       fxLayoutAlign="center center"
       class="canvas-wrap mat-elevation-z2">
        <div fxFlexFill>
            <div class="card-title mat-elevation-z1" *ngIf="item.title">{{item.title}}</div>
        </div>
        <div [render]="item" [renderSize]="service.thumbnailSize" [class.mat-elevation-z1]="code"></div>
        <div *ngIf="service.show.code" class="pre mono" style="width: 100%">
            <div class="padding" style="padding-top: 0; padding-bottom: 0; margin: -16px 0">{{item | cjson:1:(service.thumbnailSize[0]/6)}}</div>
        </div>
    </a>
    <div style="width:100%; height: 8px"></div>
</div>
